* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  color: #333333;
  background-color: #fefefe;
  max-width: 1080px;
  margin: 0 auto;
}

.box {
  padding: 20px 30px;
  margin: 20px;
  margin-bottom: 40px;
  background: salmon;
  border: yellow dotted 3px;
  width: 600px;
}
